<!DOCTYPE html>
<html lang="en" ng-app="application">
<head>
    <meta charset="utf-8">
    <title>VHostMaster</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }

        .sidebar-nav {
            padding: 9px 0;
        }

        @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    </style>
    <link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <script src="/static/libs/angular.min.js"></script>
    <script src="/static/app/controllers/controllers.js"></script>
    <script src="/static/app/directives/active-ng.js"></script>
    <script src="/static/app/app.js"></script>
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="/">VHostMaster</a>

            <div class="nav-collapse collapse">
                <p class="navbar-text pull-right">
                    Logged in as <a href="#" class="navbar-link">Username</a>
                </p>
                <ul class="nav" ng-controller="MainMenuCtrl">
                    <li ng-repeat="menu_el in main_menu" active="{{ menu_el.url }}"><a href="{{ menu_el.url }}">{{
                        menu_el.title }}</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3" ng-controller="LeftMenuCtrl">
            <div class="well sidebar-nav">
                <ul class="nav nav-list">
                    <li ng-repeat="menu_el in left_menu" active="{{ menu_el.url }}">
                        <a href="{{ menu_el.url }}">{{ menu_el.title }}</a>
                    </li>
                </ul>
            </div>
            <!--/.well -->
        </div>
        <!--/span-->
        <div class="span9">
            <div ng-view></div>
        </div>
        <!--/span-->
    </div>
    <!--/row-->

    <hr>

    <footer>
        <p>&copy; Kuznetsov Aleksey, 2013 <a href="http://akuzn.com" target="_blank">akuzn.com</a></p>
    </footer>

</div>
</body>
</html>